<% if user_signed_in? %>
  <div class="footer">
    <div class="footer-links">
      <button type="button" class="connect" data-toggle="modal" data-target="#exampleModal">
        Explore friends spots
      </button>
    </div>
  </div>
  <% else %>
  <div class="footer">
    <div class="footer-links">
      <button type="button" class="connect" data-toggle="modal" data-target="#exampleModal">
        Connect for more spots !
      </button>
    </div>
  </div>
<% end %>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Discover more spots </strong>
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Find your friends go-to spots and share yours !
      </div>
      <div class="modal-footer">
        <%= link_to "Sign out", destroy_user_session_path, class: "signout", method: "DELETE" %>
        <a href="/users/auth/facebook" role="button" class="signin">Connect</a>
      </div>
    </div>
  </div>
</div>
