<div class="navbar-wagon">
  <div>
    <a href="/">
      <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
    </a>
  </div>
  <div>
    <a href="#" class="search-toggle">
      <i class="fa fa-search"></i>
    </a>
      <a href="/spots/new">
        <i class= "glyphicon glyphicon-plus" ></i>
      </a>
  </div>
</div>
    <div class="search">
      <div>
        <input id="user_input_autocomplete_address" name="user_input_autocomplete_address" class="form-control" placeholder="Adresse : 107 cours Balguerie etc..">
      </div>
      <div class="category-pick">
        <ul class="tab-group">
          <li class="tab"><input type="radio" name="choice" id="choice-1" value="Bar"><label class="left-tab" for="choice-1">Bar</label></li>
          <li class="tab"><input type="radio" name="choice" id="choice-2" value="Food"><label for="choice-2">Food</label></li>
          <li class="tab"><input type="radio" name="choice" id="choice-3" value="Art"><label class="right-tab" for="choice-3">Art</label></li>
        </ul>
      </div>
      <div>
        <input type="submit" class="btn launch btn-search btn-block">
      </div>
    </div>


    <!-- Include Google Maps JS API -->
    <!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV['GOOGLE_API_SERVER_KEY']}"></script> -->
