.footer {
background: rgb(137, 181, 201);
padding: 10px 20px;
text-align: center;
text-decoration: none;
box-shadow: 0 5px 1px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.connect {
  background: rgb(137, 181, 201);
}

.footer-links {

  .connect {
  color: rgb(214, 231, 239);
  font-weight: bolder;
  border: none;
  }
  .connect:hover {
    color: rgb(214, 231, 239);
    text-decoration: none;
    border: none;
  }
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

.modal-header {
  background: rgb(137, 181, 201);
  color: rgb(214, 231, 239);
  border-bottom: 1px solid;
  border-bottom: none;
}
.modal-body {
  background: rgb(214, 231, 239);
  color:rgb(137, 181, 201);
  font-weight: lighter;
  border-width: 0px;
  font-size: 18px;
}
.modal-footer {
  text-align: center;
  background: rgb(214, 231, 239);
  color: rgb(214, 231, 239);
  border-top: none;
}

.signin {
  background: rgb(137, 181, 201);
  color: rgb(214, 231, 239);
  padding: 1.5%;
  margin: 3.5%;
}

.signout {
  color: rgb(137, 181, 201);
  font-weight: lighter;
  font-size: 15px;
}
.signout:hover {
  text-decoration: none;
  color: rgb(15, 70, 94);
}
.signin:hover {
  text-decoration: none;
  background: rgb(15, 70, 94);
  color: rgb(214, 231, 239);
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background: rgb(214, 231, 239);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 23px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}

.message-body strong{

}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
a {
  color: rgb(137, 181, 201);
  font-size: 18px;
}
a:hover {
  text-decoration: none;
}
