/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgb(84, 115, 151);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}

 .form-control {
   background-color:rgb(214, 231, 239);
   color:  rgb(84, 115, 151);
   border: 0px;
   padding: 10px;
 }

 .form-control::placeholder {
   color: rgb(84, 115, 151);
   font-weight: normal;
   display: flex;
}

.category-pick {
  display: flex;
  width: 100%;
}


.fa {
  color: rgb(214, 231, 239);
  padding-right: 5px;
  padding-top: 5px;
}


.launch {
  background-color: rgb(84, 115, 151);
  color: rgb(214, 231, 239);
  padding: 2px;
}

.search {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 20px;
  top: 42px;
  background: #f7f3f3;
  transform: translateY(-200%);
  transition: 300ms linear transform;
  &.search-open {
    transform: translateY(0);
  }
}
.glyphicon-plus {
  z-index: 1;
  color: rgb(214, 231, 239);
  padding-left: 5px;
  padding-top: 6px;

}





.tab-group {
  list-style:none;
  padding:0;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  ul {
    width: 100%;
  }
  li label {
    text-decoration: none;
    padding: 10px;
    background:rgb(214, 231, 239) ;
    color:  rgb(84, 115, 151);
    font-size: 15px;
    float:left;
    width: calc(100% / 3);
    text-align: center;
    cursor: pointer;
    transition:.5s ease;
    &:hover {
      background: rgb(84, 115, 151);
      color: rgb(214, 231, 239);
    }
  }
}
.title {
  a {
  text-decoration: none;
  font-family: Lobster Two;
  font-weight: bold;
  color: rgb(214, 231, 239);
  flex: center;
  font-size: 25px;
  letter-spacing: 2px;
 }
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
    background: rgb(84, 115, 151);
    color: rgb(214, 231, 239);

}

.left-tab {
  border-right: 2px solid rgb(84, 115, 151);
}

.right-tab {
  border-left: 2px solid rgb(84, 115, 151);
}

.title {
  font-family: Lobster Two;
  color: rgb(214, 231, 239);
  flex: center;
  letter-spacing: 2px;
}
.close {
  // margin-right: -450%;

}

.close-nav {
  // margin-right: -700%;
}

.topmodal {
  display: flex;
  align-items: center;
  justify-content: center;

}
