#map-static {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  bottom: 10px;
}


.infos {
  position: absolute;
  bottom: 150px;
  text-align: center;
  margin-left: 25px;
}

.infos h3 {
  margin-bottom: 5px;
}

.infos p {
  text-align: center;
}

.place-show {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background: rgb(137, 181, 201);
  color: rgb(214, 231, 239);
  transform: translateY(100%);
  transition: 300ms ease transform;
  &.place-show-open {
    transform: translateY(0);
  }
}

.return-to-map {
  display: flex;
  justify-content: space-between;
}

.row {
  margin-left: 0px;
}

.sliding {
  width: 100%;
}
