#map-static {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.place-show {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background: rgb(137, 181, 201);
  color: rgb(214, 231, 239);
  transform: translateY(100%);
  transition: 300ms ease transform;
  &.place-show-open {
    transform: translateY(0);
  }
}
