.map-static {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  bottom: 10px;
}

.content {
  position: relative;
  height: calc(100vh - 90px);
}

.col-xs-4 {
  padding-left: 4px;
}

.polaroid {
  margin: 5px;
  height: 115px;
  width: 110px;
  padding: 5px;
  background-color: rgb(214, 231, 239);
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// p {
//   font: 400 100px/1.5 'Lobster Two', Helvetica, sans-serif;
//   color: #2a2b2b;
//   margin: 5px 0;
//   font-size: 6px;
//   text-align: center;
//   opacity: 0.75;
// }

.cards-photos{
  position: absolute;
  top: 40px;

}

.infos {
  bottom: 150px;
  text-align: left;
  position: absolute;
  bottom: 160px;
}

.infos h3 {
  margin-bottom: 5px;
}

.infos h4 {
  font-size: 18px;
}

.place-show {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background: rgb(137, 181, 201);
  color: rgb(214, 231, 239);
  transform: translateY(100%);
  transition: 300ms ease transform;
  &.place-show-open {
    transform: translateY(0);
  }
}

.return-to-map {
  position: absolute;
  top: 5px;
  right: 5px;

}

.row {
  margin-left: 0px;
}



.photo {
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 50px rgba(99, 99, 80, 0.8);
  height: 90px;
  width: 100%;
  background-color: white;
}
