<div id="map" style="height:400px"></div>

<% content_for(:after_js) do %>
  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 48.8583701, lng: 2.2922926},
      zoom: 15
    });

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
      });
    }
  </script>
<% end %>
