

<div class="container padded-top">
      <%= simple_form_for(@place) do |f| %>
        <%= f.input :address, placeholder: "A cool bar, 17 Awesome St" %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNxB4fml5m_Quz39_7fXUAP7tXPvEmoKU&libraries=places"></script>
<% end %>


<!-- #metttre le z-index du .pac-container à 20 et le z-index du .modal à 10 et du .modal backdrop z-index. -->
