
<% content_for(:body_class, "map")%>

<div class="map-wrapper">
  <div id="map"></div>
  <div id="place-show" class="place-show"></div>
</div>



<% content_for(:after_js) do %>
  <script>
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 44.8405984, lng: -0.5854666},
      zoom: 15,
      // styles: [{stylers:[{hue:'#000000'},{saturation:120}]},{featureType:'road',elementType:'geometry',stylers:[{lightness:50},{visibility:'simplified'}]},{featureType:'road',elementType:'labels',stylers:[{visibility:'off'}]}]

    });

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);


        // va me chercher les markers à 5 kil de position (lat lng)
        $.ajax({
          method: "GET",
          url: "/places/filter",

          data: {
            lat: pos.lat,
            lng: pos.lng
          },
          success: function(data) {
            $('#friend-spots').html(data.friend_spots);
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              // markers = handler.addMarkers(markers_data);
              Gmaps.store = {} // Initialize storage
              Gmaps.store.markers = data.places.map(function(m) {
                marker = handler.addMarker(m);
                marker.serviceObject.set('place_url', m.place_url); // You can add other attributes using set
                google.maps.event.addListener(marker.serviceObject, 'click', function () {
                  $.ajax({
                    method: "GET",
                    url: this.place_url,
                    success: function(place_html){
                      $('#place-show').html(place_html);
                      $('.place-show').toggleClass('place-show-open');
                      $(".place-show-toggle").click(function(){
                        $('.place-show').toggleClass('place-show-open');
                      });
                    }
                  })
                });
                return marker;
              });


              handler.bounds.extendWith(Gmaps.store.markers);
              handler.fitMapToBounds();
              if (Gmaps.store.markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (Gmaps.store.markers.length == 1) {
                handler.getMap().setZoom(17);
              }
            });
          }
        });
      });
    }
  </script>

<% end %>
