<h1><%= @place.name %></h1>
<% @place.spots.each do |spot| %>
  <%= cl_image_tag spot.photo.path, width: 30 if spot.photo %>
  <%= spot.comment %>
<% end %>

<!-- #Pour chaque spot qui ont cette place_id
#display la photo prise par l'user qui a crée ce spot
#display le commentaire de l'user qui a crée ce spot
#display le created_at
( #display info de l'user avec facebook connect ) -->
